.cards-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    margin: var(--spacing-lg) 0;
}

.cards-text {
    display: flex;
    justify-content: center;
}
.cards-text h1 {
    font-weight: 500;
    font-family: serif;
}

.cards {
    display: grid;
    justify-items: center;
    gap: var(--spacing-lg);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: fit-content;
}

.cards .card {
    /* border: 1px solid var(--border); */
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-sm);
    text-align: center;

}